<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{%  load staticfiles %}
{% block body_block %}
    <div class="jumbotron">
    {% if registered %}
        <h1>Thanq for Registering!</h1>
        {% else %}
        <h1>Register Here!</h1>
        <h3>Fill out the following form</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        <input class="btn btn-success" type="submit" value="SUBMIT">
        </form>
    {% endif %}
    </div>
{% endblock %}